a {
  text-decoration:none;
  out-line: none;
}
.el-badge.item {
    margin: 0 15px;
    display: line-block;
}
.lang {
  display: flex;
  overflow-x: auto;
  padding: 10px 0px;
}
.mian {
    margin-top: 30px;
}
.mian-item {
  margin: 18px 0px;
  border-bottom: 1px solid rgba(178,186,194,.15);
}
.mian-item .meta-row a{
  font-size: 12px;
  color: #b2bac2;
}
.mian-item .title {
    margin-top: 6px;
}
.mian-item .title a{
    font-size: 16px;
    color: #2E3135;
}